body.archive article {
	float: left;
	width: 640px;
}

body.archive h1 {
	padding-top: 10px;
}

body.archive p {
	color: #ddd;
}

body.archive article time {
	font-size: 10px;
	font-family: Verdana;
	color: gray;
	padding-bottom: 12px;
	display: block;
}

body.archive h1.copy:before {
	content: "转载：";
}

body.archive h2 {
	font-size: 18px;
	font-weight: bold;
	padding: 8px 0 6px 35px;
	margin: 0;
	margin-left: -20px;
	background-image: url("/img/h2_icon.png");
	background-repeat: no-repeat;
	background-position: 10px center;
	background-color: rgba(0, 153, 255, 0.15);
}

body.archive aside.cc_copyright {
	font-size: 14px;
	padding: 0 0 8px 50px;
	margin: 0;
}

body.archive aside.cc_copyright a {
	border-width: 0;
}

body.archive aside.cc_copyright a.self {
	font-family: "Droid Sans Mono", monospace;
}

body.archive div.content {
	width: 640px;
	background-image: url("/img/eof.png");
	background-repeat: no-repeat;
	padding: 0 0 20px;
	background-position: left bottom;
	margin: 0;
}

body.archive div.content p {
	word-wrap: break-word;
	line-height: 26px;
	padding: 6px 0;
	text-shadow: #333 0px 1px 0px;
}

body.archive div.content span.monospace {
	font-family: "Droid Sans Mono", monospace;
	font-size: 16px;
}

body.archive div.content hr {
	text-align: left;
	vertical-align: bottom;
	height: 1px;
	width: 60%;
	border-width: 4px 0;
	border-style: solid;
	border-color: black;
	background-color: #333;
}

body.archive div.content img {
	max-width: 640px;
}

body.archive div.content sub,
body.archive div.content sup {
	font-size: 12px;
}

body.archive div.content sup {
	vertical-align: 4px;
}

body.archive div.content sub {
	vertical-align: -2px;
}

body.archive div.content blockquote {
	border: 1px solid #456;
	padding: 5px 20px;
	margin: 6px 0 6px 41px;
	background-color: #234;
}

body.archive div.content blockquote hr {
	border-color: #234;
	background-color: gray;
}

body.archive div.content blockquote img,
body.archive div.content div img {
	max-width: none;
}

body.archive div.content blockquote.code p {
	font-family: "Droid Sans Mono", monospace;
}

body.archive div.content div.phpcode {
	font-size: 12px;
	white-space: nowrap;
	font-family: "Droid Sans Mono", monospace;
	border: 1px solid #456;
	padding: 5px 20px;
	margin: 6px 0;
	line-height: 18px;
	background-color: #234;
	text-overflow: ellipsis;
	overflow: hidden;
}

body.archive p.commentTitle {
	clear: left;
	padding-top: 30px;
	font-weight: bold;
	font-size: 20px;
	width: 640px;
}

body.archive div#comment div.loading {
	background-image: url("/img/loading.gif");
	background-repeat: no-repeat;
	height: 43px;
	padding: 23px 0 0;
	margin: 0 0 0 100px;
	float: none;
	width: 260px;
	color: silver;
	text-align: center;
}

body.archive div#comment div.loading:before {
	content: "正在加载……";
}

body.archive div#comment {
	margin-top: 20px;
	width: 640px;
	float: left;
}

body.archive div#comment img {
	float: left;
	clear: both;
	margin: 6px 0 0 0;
}

body.archive div#comment > div {
	float: right;
	width: 550px;
	padding: 12px 12px 0;
}

body.archive div#comment > div:nth-child(4n+2) {
	background-color: #123;
}

body.archive div#comment span.floor {
	float: right;
	font-size: 12px;
	color: silver;
}

body.archive div#comment p.name {
	color: white;
	font-weight: bold;
	line-height: 17px;
}

body.archive div#comment p.anonym {
	color: gray;
}

body.archive div#comment p.name span.date {
	color: gray;
	font-weight: normal;
	font-size: 10px;
	font-family: Verdana;
}

body.archive div#comment p.name span.date {
	color: gray;
	font-weight: normal;
	font-size: 10px;
	font-family: Verdana;
}

body.archive div#comment div.comment {
	padding: 0 0 4px;
}

body.archive div#comment div.comment p {
	word-wrap: break-word;
	line-height: 1.5;
	padding: 4px 0;
}

body.archive #commentForm {
	width: 640px;
	margin-top: 10px;
}

body.archive #commentForm p {
	font-size: 14px;
	color: silver;
	padding: 0 0 7px 40px;
	line-height: 1.5;
}

body.archive #commentForm button {
	background-color: #002E4D;
	border: 1px solid #004D80;
	color: #EEE;
	width: 100px;
	height: 30px;
	font-size: 16px;
	padding-top: 2px;
	margin: 4px 5px;
}

body.archive #commentForm button:hover {
	background-color: #1A435F;
	border: 1px solid #1A5F8D;
	color: #FFF;
}

body.archive #commentForm table {
	width: 100%;
}

body.archive #commentForm input[type=text],
#commentForm textarea {
	border: 1px solid gray;
	font-size: 16px;
	color: #eee;
	padding: 4px;
}

body.archive #commentForm textarea {
	margin: 6px 0;
	height: 150px;
	width: 550px;
	background-image: url("/img/logo_bg.png");
	background-repeat: no-repeat;
	background-position: 90% 80%;
}

body.archive #commentForm input[type=text] {
	height: 22px;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-style: gray;
	width: 552px;
}

body.archive #commentForm tr:nth-child(2n+1) {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #001F33;
}

body.archive #commentForm td.rowname {
	width: 66px;
	text-align: right;
	padding: 10px 7px 10px 0;
}

body.archive #commentForm td.rowname span {
	color: gray;
}

body.archive aside.sidebar {
	display: block;
	width: 260px;
	dbackground-color: #333;
	float: right;
	padding-left: 30px;
	min-height: 500px;
	background-image: url("/img/line.png");
	background-repeat: no-repeat;
	background-position: left top;
}

body.archive aside.sidebar p.next:before {
	content: "下一篇：";
}

body.archive aside.sidebar p.prev:before {
	content: "上一篇：";
}

body.archive aside.sidebar p.title {
	font-size: 18px; font-weight: bold;
	padding: 6px 0;
	margin-left: -8px;
}

body.archive aside.sidebar div p,
body.archive aside.sidebar ul li {
	line-height: 1.5;
	padding: 4px 0;
}

body.archive aside.sidebar ul li {
	margin-left: 20px;
	list-style-type: square;
	list-style-position: outside;
	color: gray;
}

body.archive aside.sidebar ul li span {
	color: silver;
}
