* {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
}

input[type=text], textarea {
	background-color: transparent;
}

body {
	overflow-x: auto;
	overflow-y: scroll;
	border-width: 0;
	font-family: "Microsoft Yahei", serif;
}

html, body, select {
	background-color: #000;
}

html, body, input, textarea, select {
	color: #EEE;
}

select {
	border-color: #555;
}

blockquote {
	margin-left: 30px;
}

pre, pre * {
	font-size: 14px;
	font-family: "Droid Sans Mono", monospace;
}

a {
	text-decoration: none;
	border-bottom: 1px solid #8cf;
	color: #8cf;
	outline: none;
}

a:hover {
	color: #fff;
	border-color: #fff;
}

a img {
	border-width: 0;
}

div, p, td {
	cursor: default;
}

button, a * {
	cursor: pointer;
}

table {
	border-collapse: collapse;
}

li {
	list-style-type: none;
}

ol li {
	list-style-type: decimal;
}

br.null {
	clear: both;
	font-size: 1px;
}

.hide {
	display: none;
}
